@model IEnumerable<Mono.MVC.Models.VehicleMakeViewModel>
@{
    ViewData["Title"] = "Vehicles";
}

<h2>Vehicles</h2>
<a class="btn theme-payment-page-signin-btn btn-primary" href="@Url.RouteUrl("add-vehicle")">Add Vehicle</a>
<hr />
@ViewBag.Message
<table style="width:100%">
    <tr>
        <th>Name</th>
        <th>Abrv</th>
    </tr>
    @foreach (var vehicle in Model)
    {
    <tr>
        <td>@vehicle.Name</td>
        <td>@vehicle.Abrv</td>
        <td><a href="@Url.RouteUrl("edit-vehicle", new {id = vehicle.Id })">Edit</a></td>
        <td><a href="@Url.RouteUrl("delete-vehicle", new { id = vehicle.Id })">Delete</a></td>
    </tr>
    }
</table>
